.highlight-card {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}



/* For carousel images */
.carousel-card {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
 }