.mainheading {
  font-family: "Edu VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 3.5rem;
    color: #ff6f61;
    text-align: center;
    margin-top: 20px;
}

.imagelogo{
  height: 150px;
  width: 150px;
}
.uploadedimg {
  position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 30px 0 auto;
    border:solid #6e3c55;
    transition: all 0.2s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)

}
.imagelogo1{
  height: 50px;
    width: 50px;
}


.uploadimg{
    
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        margin: 50px auto;
        padding: 40px;
        width: 500px;
    
        border: 10px dashed #F8C794;
        border-radius: 12px;
        background-color: #FFF2D7;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   
}

.uploadimg h1 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #6e3c55;
  /* matches plus button color */
}



.uploadedimg:hover {
  background-color: wheat;
}

@media only screen and (max-width: 600px) {
    .uploadimg {
        width: 90%;
        padding: 20px;
        margin: 30px auto;
    }

    .uploadimg h1 {
        font-size: 22px;
        text-align: center;
    }

    .upload-btn {
        width: 50px;
        height: 50px;
        font-size: 26px;
        top: 10px;
        right: 10px;
    }

        .imagelogo1 {
          height: 30px;
          width: 30px;   }

                    .mainheading {
                      font-size: 30px;         }

}