.uploadimg{
    
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        margin: 50px auto;
        padding: 40px;
        width: 500px;
    
        border: 10px solid #F8C794;
        border-radius: 12px;
        background-color: #FFF2D7;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   
}
.uploadimg h1 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #6e3c55;
  /* matches plus button color */
}

.upload-btn {
  background-color: #ffffff;
  border: 4px solid #f8e1b4;
  
  border-radius: 12px;
  width: 60px;
  height: 60px;
  font-size: 32px;
  color: #9b59b6;
  cursor: pointer;
  position: absolute;
    top: 20px;
    right: 20px;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
}

.upload-btn:hover {
  background-color: #f0e9f8;
}

